/* Root CSS Variables for Themes */
:root {
  --background-color: #ffffff;
  --text-color: #1d1d20;
  --button-bg-color: #f9f9f9;
  --button-text-color: #000;
  --primary-color: #4a4e74;
  --secondary-color: #7278b8;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --transition-duration: 0.3s;
}

/* Dark Theme Variables */
body.dark {
  --background-color: #201d1d;
  --text-color: #ffffff;
  --button-bg-color: #2c2c47;
  --button-text-color: #ffffff;
  --primary-color: #2c2c47;
  --secondary-color: #303060;
  --shadow-color: rgba(255, 255, 255, 0.1);
}

/* Global Styles */
body {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color var(--transition-duration),
    color var(--transition-duration);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  padding-bottom: 10px;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* Button Styles */
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition:
    background-color var(--transition-duration),
    color var(--transition-duration);
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Header Styles */
.App-header {
  grid-area: header;
  background: var(--primary-color);
  color: var(--text-color);
  box-shadow: 0px 2.98px 7.46px 0px var(--shadow-color);
  padding: 0.5rem;
  transition:
    background-color var(--transition-duration),
    color var(--transition-duration);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 5em;
  width: auto;
}

.App-title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: left;
  color: #ffffff;
}

.toggle-theme-container {
  display: flex;
  align-items: flex-start;
}

/* Editor Styles */
.pane.editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.react-mde {
  height: 100%;
}

.react-mde textarea {
  flex-grow: 1;
  border: none;
  padding: 1rem;
  font-size: 1.2em;
  line-height: 1.5;
  resize: none;
  transition:
    background-color var(--transition-duration),
    color var(--transition-duration);
}

.react-mde .mde-header {
  display: flex;
  padding: 1rem;
  background-color: var(--background-color);
  border-bottom: 1px solid #ddd;
}

.mde-tabs button,
.mde-header-item button {
  background-color: var(--primary-color);
  color: #333;
}

.mde-tabs button:hover,
.mde-header-item button:hover,
.react-mde .mde-header-item button:hover {
  background-color: var(--secondary-color);
}

.mde-header-item button.active,
.react-mde .mde-header-item button.active {
  background-color: var(--secondary-color);
}

/* Markdown Preview Styles */
.react-mde .mde-preview {
  padding: 1rem;
  overflow-y: auto;
}

.react-mde .mde-preview h1,
.react-mde .mde-preview h2,
.react-mde .mde-preview h3,
.react-mde .mde-preview h4,
.react-mde .mde-preview h5,
.react-mde .mde-preview h6 {
  font-weight: bold;
}

.react-mde .mde-preview p {
  font-size: 1.3em;
  font-weight: 100;
}

.react-mde .mde-preview ul,
.react-mde .mde-preview ol {
  padding-left: 2em;
}

.react-mde .mde-preview blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  color: #666;
  font-style: italic;
}

.react-mde .mde-preview code {
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

/* Note Styles */
.main-container {
  grid-area: main;
  cursor: pointer;
  transition: all var(--transition-duration);
}

.pane {
  overflow-y: auto;
}

.sidebar {
  width: 20%;
  height: 100vh;
}

.sidebar--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
}

.sidebar--header > h3 {
  font-size: 1.75rem;
}

.new-note,
.first-note {
  background-color: var(--primary-color);
  color: white;
}

.editor {
  width: 80%;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title--delete {
  display: none;
  background-color: transparent;
}

.title:hover .title--delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

.text-snippet {
  padding-inline: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-note {
  background-color: var(--primary-color);
}

.selected-note .text-snippet {
  color: white;
  font-weight: 700;
}

/* Split Pane Styles */
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
}

.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color) !important;
  color: var(--text-color);
  transition:
    background-color var(--transition-duration),
    color var(--transition-duration);
}

.no-notes h1 {
  color: var(--text-color);
}
